<h1>Pakistan Railway Reservation System</h1>
<ul>
  <li style="float:right"><a class="img" routerLink="/adminlogin"   >Admin         </a></li>
  <li style="float:right"><a class="img" routerLink="/reg"   >Register user    </a></li>
  <li><a class="img" routerLink="/userlogin" >User Login </a></li>
  <li><a class="img" routerLink="/schedule">Train Schedule</a></li>
  <li><a class="img" routerLink="/contact" >Contact       </a></li>
</ul>

<div class="back">
<div><b><u>If You Have Any Queries</u></b></div>
<br>
<div><b>Please Mail us at XYZ@gmail.com</b></div>
(or)
<div><b>Please Contact Customer Care at 9999999999</b></div>

</div>